<div class="row">
    <div class="col-md-12">
        <form class="well">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search patient. Enter patient's Social Security Number (yyyymmdd)..." [(ngModel)]="ssnumber" name="ssnumber" (keyup)="searchPatient()">
            </div>
        </form>
    </div>
</div>
<div *ngIf="patients">
    <div *ngFor="let patient of patients">
        <div class="panel panel-default">
            <div class="panel-heading">
                 <h3 class="panel-title">{{patient.FirstName}} {{patient.LastName}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Age: </strong>{{patient.Age}}</li>
                        <li class="list-group-item"><strong>Social Security #: </strong>{{patient.SocialSecurityNumber}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
