<div class="row">
    <div class="col-md-12">
        <form class="well">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search radiographs history. Enter patient's Social Security Number (yyyymmdd)..." [(ngModel)]="ssn" name="ssn" (keyup)="searchRadiographs()">
            </div>
        </form>
    </div>
</div>
<div *ngIf="radiographs">
    <div *ngFor="let radiograph of radiographs">
        <div class="panel panel-default">
            <div class="panel-heading">
                 <h3 class="panel-title">Radiograph Info</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3"><strong>Date of Test</strong></div>
                    <div class="col-xs-9 pull-left">{{ radiograph.DateOfTest }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><strong>Reason</strong></div>
                    <div class="col-xs-9 pull-left">{{ radiograph.Reason }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><strong>Description</strong></div>
                    <div class="col-xs-9 pull-left">{{ radiograph.Description }}</div>
                </div>
            </div>
        </div>
    </div>
</div>